.form-control {
    width: auto;
}

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
}

.tbl-content {
    height: 470px;
    overflow-x: auto;
    margin-top: 0px;
    width: 100%;
}

th {
    padding: 5px 10px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

    td:hover {
        color:red;
    }

body {
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}

    .made-with-love i {
        font-style: normal;
        color: #F50057;
        font-size: 14px;
        position: relative;
        top: 2px;
    }

    .made-with-love a {
        color: #fff;
        text-decoration: none;
    }

        .made-with-love a:hover {
            text-decoration: underline;
        }

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.home {
    width: calc(90% - 250px);
}