


.container {
    padding: 0 16px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

form {
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

    form div,
    form label,
    form input,
    form textarea {
        width: 100%;
    }

.field:nth-of-type(2) {
    margin: 16px 0;
}

label,
input,
textarea {
    padding: 8px;
}

label,
[placeholder] {
    color: #555;
}

    label i {
        margin: 0 10px 0 0;
    }

.field:focus-within label {
    color: #000;
    letter-spacing: 2px;
}

input,
textarea {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 4px;
    box-shadow: 0 8px 6px -6px #555;
}

    input:focus,
    textarea:focus {
        background: white;
        box-shadow: none;
    }

textarea {
    resize: none;
}

    textarea::-webkit-scrollbar {
        width: 0;
    }

button {
    background: #2f4ad0;
    margin: 16px 0 50px 0;
    padding: 8px 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 8px 6px -6px #555;
}

    button:hover {
        letter-spacing: 2px;
        box-shadow: none;
    }

.social-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.social-media span {
    font-size: 16px;
}

    .social-media span .fas {
        margin: 0 0 0 10px;
    }

.social-media a {
    color: #000;
    font-size: 20px;
}

@media (max-width: 425px) {
    form {
        width: 100%;
    }
}

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
}

.tbl-content {
    height: 470px;
    overflow-x: auto;
    margin-top: 0px;
    width: 100%;
}

th {
    padding: 5px 10px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

    td:hover {
        color:red;
    }

body {
    font-family: 'Roboto', sans-serif;
}

section {
    margin: 50px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #fff;
}

    .made-with-love i {
        font-style: normal;
        color: #F50057;
        font-size: 14px;
        position: relative;
        top: 2px;
    }

    .made-with-love a {
        color: #fff;
        text-decoration: none;
    }

        .made-with-love a:hover {
            text-decoration: underline;
        }

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}