/* HTML: <div class="loader"></div> */
.loader {
    height: 10px;
    width: 130px;
    --c: no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c),var(--c),#d7b8fc;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0% {
        background-position: -150% 0,-150% 0
    }

    66% {
        background-position: 250% 0,-150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}
/* Logo için animasyon */
.logo-container {
    /*  display: flex; */
    justify-content: center;
    align-items: center;
    /*  margin-bottom: 20px; */
}

.animated-logo {
    width: 130px; /* Logo boyutunu ayarla */
    height: auto;
    animation: fadeIn 2s ease-in-out, scaleUp 2s infinite alternate;
    margin-bottom:15px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}